{% extends 'base.html' %}

{% block body %}

		<div class="visible-background">

			<div class="content-header">

				<h2><em>About Me</em></h2>

				<div class="content-main">

					<div class="block-categories">

						<h3>Key Skills</h3>
						<p>

							<ul>
								<li>Python 3- Pandas, GeoPandas, Beautiful Soup, XLSX Write, PySimpe GUI (Tkinter)</li>
								<li>GIS- QGIS, ArcMap 10.7.X</li>
								<li>HTML / CSS</li>
							</ul>
							
						</p>

					</div>

					<div class="block-categories">



						<h3>Education</h3>

						<p>
							<h4>University of Maryland College Park:</h4><h5> 2020-2022</h5> <em>estimated</em>

							<ul>
								<li>GPA: 4.0</li>
								<li>Environmental Science and Policy: Land Use</li>
								<li>Geographical Information Systems and Computer Cartography</li>
							</ul>

						</p>


						<p>
							<h4>Franklin University Switzerland:</h4><h5> 2018-2020</h5> 

							<ul>

								<li>Major GPA: 3.945 | GPA: 3.868</li>
								<li>Environmental Studies, Emphasis Science</li>
								
							</ul>
						</p>
					</div>


					<div class="block-categories">

						<h3>Professional Experience</h3>

						<p>
							<h4>NASA COVID-19 HAM SAR Observations: </h4><h5> 2020</h5> 

							<ul>

								<li>Independent and efficient volunteer in support of NASA’s Human Activity Monitoring (HAM) with Satellite Aperture Radar (SAR) Observations Project</li>
								<li>Responsible for polygon generation and digitalization based on commercial satellite imagery
								</li>
								
							</ul>

						</p>

						<p>
							<h4>USGS National Map Corps: </h4><h5>2020 - <em>current</em></h5> 

							<ul>

								<li>Advanced editor and peer reviewer for The National Map</li>
								<li>Leveraging imagery analysis and research skills to locate and record areas of interest in the United States
								</li>
								
							</ul>

						</p>


					</div>
					<!---
					<div class="block-categories">

						<h3>Publications</h3>
						<p>
							In Progress: Relating to the field of big data and GIS
						</p>

					</div>
					-->

					<div class="block-categories">

						<h3>Field Experience</h3>

						<p>
							<h4>Tourism and the Environment: </h4><h5>Iceland, October 2020</h5> 

							<ul>

								<li>Worked with the University of the Westfjords to evaluate environmental degradation due to tourism using trail sampling assessments

								</li>
								
							</ul>

						</p>

						<p>
							<h4>Freshwater Conservation</h4><h5> Friuli, Italy and Slovenia, March 2019</h5> 

							<ul>

								<li>Assessed conservation efforts of the Tagliamento River</li>
								<li>Evaluated the conservation of endemic groundwater species
								</li>
								
							</ul>

						</p>

						<p>
							<h4>Alpine Ecosystems</h4><h5> FLucomagno, Switzerland and Chamonix, France, October 2018</h5> 

							<ul>

								<li>
									Worked with ProNatura and CREA to
									survey biodiversity using point-center quadrats and line transects and
									establish remote sensing infrastructure
								</li>
								
							</ul>

						</p>


					</div>

					<div class="block-categories">

						<h3>Leadership</h3>

						<p>
							<h4>Treasurer, Powder Rangers: </h4><h5>2019 - 2020</h5> 

							<ul>

								<li>

									Led club focused on winter sport activities

								</li>
								<li>

									Organized and directed overnight / day trips with students

								</li>
								<li>

									Interfaced with student government in request of club funding

								</li>
								
							</ul>

						</p>

						<p>
							<h4>Orientation Mentor:</h4><h5> 2019</h5> 

							<ul>

								<li>
									
									Served as a friendly and supportive resource to first-year students during their transition to an international university

								</li>
								<li>

									Acted as a representative for Franklin University Switzerland 

								</li>
								
							</ul>

						</p>

						<p>
							<h4>Acting Vice President, Alpine Club: </h4><h5>2019</h5> 

							<ul>

								<li>

									Head club focused on alpine activities

								</li>
								<li>

									Guided peers on hiking trips


								</li>
								<li>

									Facilitated student involvement in local outdoor activities

								</li>
							</ul>

						</p>
						
						<p>
							<h4>Head of Class, Tall Ship Sorlandet: </h4><h5>2017-2019</h5> 

							<ul>

								<li>

									Administrative role overseeing a sixty-strong student-crew body and associated scheduling

								</li>
								<li>

									Liaison between student-crew and professional mariners, ensured strong collaboration and a safe environment

								</li>
								
							</ul>

						</p>

						<p>
							<h4>Foreman of Watch, Tall Ship Sorlandet: </h4><h5>2017 - 2018</h5> 

							<ul>
								<li>

									Managed a group of 10 student-crew in both personal and professional activities


								</li>
								<li>

									Directed watch members during sail maneuvers and maintenance



								</li>
								<li>

									Served as a personal mentor in troubled waters

								</li>
							</ul>

						</p>
					</div>

					
					


					<h4>

						 

					</h4>

				</div>

			</div>

		</div>

{% endblock %}